numpy
scipy
tqdm
opencv-python
imageio
tifffile
torch>=1.11
torchvision
blobfile
diffusers==0.27.2
peft==0.12.0
huggingface_hub==0.24.0
transformers==4.37.2
accelerate==0.31.0
safetensors
omegaconf
loralib
xformers
facexlib
pyiqa
pytorch-wavelets
PyWavelets
pytorch-lightning
tensorboard
test-tube
colorama
absl-py
numba
